body {
  min-width: 100vw;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-color: #c60;
}
img {
  height: 30vh;
  margin: 5vh;
}
.count {
  font-size: 20vh;
  font-family: sans-serif;
  color: #4c8;
}
